<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mountain Landing</title>
</head>

<body>
  <header>
    <nav>
      <div class="logo">
        <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.15752-9/40189918_254538438427706_6281888363347705856_n.png?_nc_cat=0&oh=251b9f05aafa797fad715df8a160f52a&oe=5C049B81">
      </div>
      <ul class="nav-bar">
        <li class="nav-bar-item">Home</li>
        <li class="nav-bar-item">Pages</li>
        <li class="nav-bar-item">Treks</li>
        <li class="nav-bar-item">Gallery</li>
        <li class="nav-bar-item">Blog</li>
        <li class="nav-bar-item">Elements</li>
        <li class="nav-bar-item">Contact</li>
      </ul>
    </nav>

    <div class="header-content">
      <h1>It's time to
        <br>start your advantures</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <p>
        Veniam, facilis.
      </p>
      <button>more info</button>
    </div>
  </header>
  <main>

    <section class="sec-one">
      <div>
        <h1>About us</h1>
        <br>
        <span class="funny-style">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
        </span>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic reprehenderit eligendi dolor incidunt natus commodi doloribus
        culpa ad iusto suscipit dolores, ex obcaecati molestias, nulla consectetur dolore quas adipisci similique eaque provident.
        Nostrum, officiis cum facere iure et temporibus reprehenderit, vero laudantium numquam qui odit. Dolor et inventore
        earum, deleniti!
      </p>
    </section>

    <section class="sec-two">
      <article class="article-one">
        <div class="div-img">
          <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.15752-9/40056241_2240925486137231_5227204271312732160_n.png?_nc_cat=0&oh=480f3ff369f1f708e823eae4fdc08925&oe=5C078F69"
            alt="No Image">
        </div>
        <h3>In every conditions</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum aspernatur sapiente error, voluptas fuga,
          laudantium ullam magni fugit. Qui!</p>

      </article>

      <article class="article-two">
        <div class="div-img">
          <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.15752-9/40094943_514441132349096_3507016590195425280_n.png?_nc_cat=0&oh=928a9b0f27347b62b5295fccc5b264fb&oe=5BF5C6B5"
            alt="No Image">
        </div>
        <h3>Professional Team</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum aspernatur sapiente error, voluptas fuga,
          laudantium ullam magni fugit. Qui!</p>
      </article>

      <article class="article-three">
        <div class="div-img">
          <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.15752-9/40022332_292689348207146_8734384877719257088_n.png?_nc_cat=0&oh=f3d23e0a50a16fdde71a57d6d696bd39&oe=5C03A058"
            alt="No Image">
        </div>
        <h3>Expert hikers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum aspernatur sapiente error, voluptas fuga,
          laudantium ullam magni fugit. Qui!</p>
      </article>
    </section>
    <section class="sec-three">

      <div class="sec-three-header">
        <h1>Our fabulous team</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>

      <article class="person-one">
        <div class="div-img">
          <img src="https://img00.deviantart.net/2afc/i/2011/230/3/9/man_of_the_mountain_by_gautama_siddharta-d470h32.jpg" alt="No image Avaliable">
        </div>
        <h3>John Doe</h3>
        <p>Cortina, Italy</p>
      </article>

      <article class="person-two">
        <div class="div-img">
          <img src="https://ak7.picdn.net/shutterstock/videos/12816767/thumb/11.jpg" alt="No image Avaliable">
        </div>
        <h3>Jessica Simpson</h3>
        <p>Chamonix-Mont-Blanc, France</p>
      </article>


      <article class="person-three">
        <div class="div-img">
          <img src="https://images.unsplash.com/photo-1466111189748-ed615356d803?ixlib=rb-0.3.5&s=0cd569ce1a59ffa08c41f768eb6dd528&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb"
            alt="No image Avaliable">
        </div>
        <h3>Lily Chapman</h3>
        <p>London, United Kingdom</p>
      </article>


      <article class="person-four">
        <div class="div-img">
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/juCTlI0/aerial-behind-silhouette-of-a-man-standing-on-top-of-the-mountain-and-raising-arms-victoriously-after-climbing-the-mountain_hm55t_fd__F0004.png"
            alt="No image Avaliable">
        </div>
        <h3>Robert Brown</h3>
        <p>Kitzb&#252;hel, Austria</p>
      </article>

    </section>
    <section class="sec-four">
      <div class="sec-four-header">
        <h1>Latest of our blog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>

      <article class="sec-four-article1">
        <div class="left-side">
          <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.15752-9/40139043_1072552439589594_3239085178672381952_n.jpg?_nc_cat=0&oh=2b9c8cb98ce0441d9ccc2bdea0bb3476&oe=5C328816"
            alt="No Image Avaliable">
        </div>
        <div class="right-side">
          <h2>Project description video</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquid scire se gaudeant? Immo alio genere; Quod vestri non.
          </p>
        </div>
      </article>

      <article class="sec-four-article2">
        <div class="left-side">
          <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.15752-9/40139559_653348108381215_7399368772785537024_n.jpg?_nc_cat=0&oh=332aaac2c2dcd7db33434dbf7c957452&oe=5C050A12"
            alt="No Image Avaliable">
        </div>
        <div class="right-side">
          <h2>Project description image</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquid scire se gaudeant? Immo alio genere; Quod vestri non.
          </p>
        </div>
      </article>

    </section>
  </main>
</body>

</html>