<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MountainRooms</title>
</head>

<body>
  <main>
    <header>
      <h1>Pick a room that best suits your taste and budget</h1>
    </header>
    <section>
      <article class="article-one">
        <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.15752-9/40074248_282203375725551_5476576656703356928_n.jpg?_nc_cat=0&oh=37b7ce9926734b95272fe0ea348e7826&oe=5BF182E4">
        <h3>Deluxe room</h3>
        <ul>
          <li>18 m2</li>
          <li>Balcony</li>
          <li>Mountain view</li>
        </ul>
        <p>
          <span>$200.0</span> / Night</p>
      </article>

      <article class="article-two">
        <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.15752-9/40047919_2147447232175615_1388928316844539904_n.jpg?_nc_cat=0&oh=94238fad5d53ec41ae797d19485875f0&oe=5C314635">
        <h3>Superior room</h3>
        <ul>
          <li>18 m2</li>
          <li>Balcony</li>
          <li>Mountain view</li>
        </ul>
        <p>
          <span>$180.0</span> / Night</p>
      </article>

      <article class="article-three">
        <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.15752-9/40084246_299956814131507_4530074681956368384_n.jpg?_nc_cat=0&oh=8c48b03af907e7457025477313774086&oe=5BFD7F39">
        <h3>Standard room</h3>
        <ul>
          <li>18 m2</li>
          <li>Balcony</li>
          <li>Mountain view</li>
        </ul>
        <p>
          <span>$120.0</span> / Night</p>
      </article>
    </section>
  </main>
</body>

</html>